.title {
    font-size: 40px;
    font-weight: bolder;
    color: pink;
    text-align: center;
    background-color: yellow;
    padding: 8px;
    width: fit-content;
    margin: 8px auto;
}

.recipes {
    font-size: 24px;
    background-color: palegreen;
    padding: 8px;
    margin: 8px 0;
    width: fit-content;
}